CPPDemo/config/config.json
*.obj
*.pdb
*.ipdb
*.iobj
*.tlog
*.exe
*.recipe
*.lastbuildstate
*.dll
*.idb
*.suo
*.sdf
*.VC.db
*.tlog
x64/
CPPDemo/x64/
CPPDemo/CPPDemo/Debug
CPPDemo/CPPDemo/Release

*.vcxproj.user

# Code analysis
*LastCodeAnalysisSucceeded*
